[submodule "submodules/Signaloid-Demo-Finance-InvestmentRetirementAccount"]
	path = submodules/Signaloid-Demo-Finance-InvestmentRetirementAccount
	url = ../../signaloid/Signaloid-Demo-Finance-InvestmentRetirementAccount.git
